:root {
  --black-color: #272a31;
  --orange-color: #ec5242;
  --grey-color: #d3d3d3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

/* Toolbar */
.toolbar__container {
  position: fixed;
  box-shadow: 0 3px 7px 3px #a6a8ab;
  width: 100%;
  height: 8%;
  background-color: #fff;
}

.toolbar__logo {
  display: none;
}

.toolbar__menu {
  position: fixed;
  background-color: var(--black-color);
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  transition: right 0.3s ease-in-out;
  padding: 21% 0 0 44%;
}

.toolbar__menu--gap {
  height: 48vh;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.hrs {
  background-color: var(--grey-color);
  height: 1px;
  border: none;
  margin-bottom: 20%;
}

.toolbar__menuLink,
.toolbar__socialMedia__item {
  color: var(--grey-color);
  font-size: 1.7rem;
}

.toolbar__menu--active {
  right: 30%;
}

.toolbar_btn {
  position: fixed;
  z-index: 998;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

.toolbar__socialMedia {
  display: flex;
  flex-direction: column;
  height: 10vh;
  gap: 50%;
}

.toolbar__logo--size {
  width: 100%;
  max-height: 8vh;
}

@media screen and (min-width: 768px) {
  .toolbar_btn {
    display: none;
  }

  .toolbar__menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    top: 0;
    bottom: 92%;
    right: 0;
    width: 60%;
    padding: 0;
  }

  @keyframes slice {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .slice {
    animation: slice 1s;
  }

  .toolbar__menu--gap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
  }

  .hrs {
    display: none;
  }

  .toolbar__socialMedia {
    display: none;
  }

  .toolbar__menuLink {
    font-size: 0.9rem;
    font-weight: 800;
    line-height: 17px;
    color: rgba(134, 134, 134, 1);
  }

  .toolbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: -webkit-fill-available;
  }
}

/* Hero section */

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(248, 248, 248, 1);
}

.hero__background-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(195 190 190 / 0.5), rgba(195, 190, 190, 1)) , url(images/pexels-christina-morillo-1181676\(1\).jpg);
  background-size: 100vw 100%;
  width: 100%;
}

.hero__container,
.about__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 61vh;
  width: 90vw;
  margin-top: 21%;
}

.hero__h1 {
  background-image: url('images/background-h1.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(236, 82, 66, 0.7);
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 29px;
}

.hero__paragraph {
  background-color: rgba(248, 248, 248, 0.6);
  margin: 5% -1%;
  padding: 4%;
  border: 4px solid #fff;
  font-size: 0.8rem;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 10%;
  height: 10%;
  margin: 0 3%;
}

.hero__info-date {
  color: rgba(89, 89, 89, 1);
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: -0.08em;
}

.hero__info-place {
  color: rgba(134, 134, 134, 1);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .hero__container {
    width: 64vw;
    height: 100vh;
    margin: 9% 10% 12% 0;
  }

  .hero__h1 {
    font-size: 5rem;
    letter-spacing: -0.04em;
    line-height: 75px;
  }

  .hero__paragraph {
    color: rgba(81, 81, 81, 1);
    width: 90%;
    font-size: 1.3rem;
    line-height: 36px;
    letter-spacing: -0.01em;
    border: 8px solid #fff;
  }

  .hero__info-date {
    font-size: 2.66rem;
  }

  .hero__info-place {
    font-size: 1.6rem;
  }

}

@media screen and (min-width: 1440px){
  .hero__container {
    margin: 5% 10% 5% 0;
  }
}
/* Program */

.program__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/background-program.jpg");
  background-size: cover;
  width: 100%;
  height: 678px;
  gap: 10px;
}

.program__h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.04em;
  padding: 8% 0 0 0;
  text-align: center;
}

.program__line_h2,
.speakers__line-title {
  width: 35px;
  margin: 10px 0 20px 0;
  border-color: var(--orange-color);
}

.program__activities-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 95%;
}

.program__activities {
  background-color: #3b3e45c2;
  display: flex;
  align-items: center;
  height: 82px;
  padding: 0;
  gap: 4%;
}

.program__activities-h3 {
  display: inline;
  color: var(--orange-color);
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 25px;
  width: 20%;
}

.program__activities-p {
  display: inline;
  color: var(--grey-color);
  font-size: 0.7rem;
  line-height: 22px;
  letter-spacing: 0.06em;
  width: 60%;
}

.program__btn {
  background-color: var(--orange-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.01em;
  width: 80%;
  height: 11%;
  margin: 10px;
}

.program__see-more {
  display: none;
}

@media screen and (min-width: 768px) {
  .program__container {
    height: auto;
  }

  .program__activities-container {
    flex-direction: row;
    width: 88%;
  }

  .program__activities {
    flex-direction: column;
    height: auto;
    width: 100%;
    border-radius: 8px;
    text-align: center;
  }

  .program__h2 {
    font-size: 1.7rem;
    padding: 4% 0 0 0;
  }

  .program__activities-h3 {
    width: auto;
    font-size: 1.2rem;
  }

  .program__activities-p {
    text-align: center;
    width: 100%;
    height: 55%;
    padding: 7px 8px 58px 8px;
    font-size: 0.8rem;
  }

  .program__btn--none {
    display: none;
  }

  .program__see-more {
    display: flex;
    color: #fff;
    font-size: 1.3rem ;
    font-weight: 400;
    line-height: 28px;
    margin-top: 35px;
    margin-bottom: 33px;
    border-bottom: solid 1px white;
  }
}

/* Speakers */

.speakers__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers__title {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.05em;
  margin-top: 6%;
}

.speakers__line-title {
  width: 40px;
  height: 2px;
}

.speaker__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 5px;
  margin-bottom: 13px;
}

.speaker__card {
  display: flex;
  width: 100%;
  gap: 13px;
}

.speaker__img {
  width: 30%;
}

.speaker__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.speaker__profession {
  color: var(--orange-color);
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: -0.02em;
  padding: 9px 0 19px 0;
}

.speaker__description {
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.06em;
}

.speaker__btn {
  width: 95%;
  height: 38px;
  padding: 12px 0 13px 0;
  margin: 14px;
  border-radius: 4px;
  border: 1px solid var(--black-color);
  box-shadow: 1px 2px 4px 0 #000;
}

.arrow_down-icon {
  width: 11px;
  margin-left: 4px;
}

.arrow__up-icon {
  width: 11px;
  margin-left: 4px;
  transform: rotate(180deg) ;
}

.hiden__speaker {
  display: none;
}

@media screen and (min-width: 768px){
  .speakers__container {
    width: 100%;
    height: auto;
    padding: 0 0 6% 0;
  }

  .speakers__title {
    margin: 3% 0 0 0 ;
    font-size: 1.7rem;
  }

  .speaker__profession {
    font-size: 1rem;
  }

  .speaker__description {
    font-size: 0.7rem;
  }

  .speaker__cards {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3% 0 0 0;
    gap: 20px;
  }

  .speaker__card {
    width: 46%;
    height: 26%;
  }

  .speaker__img {
    min-height: 100%;
  }

  .speaker__btn--none {
    display: none;
  }

  .hiden__speaker {
    display: initial;
  }
}

@media screen and (min-width: 1024px){
  .speaker__cards {
    height: 66vh;
  }
  
  .speaker__card {
    width: 39%;
  }
}

@media screen and (min-width: 1440px){
  .speaker__card {
    width: 33%;
  }
}
/* Partners */
.partner__container {
    display: none;
}

@media screen and (min-width: 768px){
  .partner__container {
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27vh;
    width: 100%;
    padding: 3% 0 0 0;
  }
  
  .partner__title {
    color: #fff;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
    margin-bottom: 7px;
  }
  
  .partner__logos {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 89%;
    height: 66%;
  }
  
  .logo__line {
    width: 40px;
    border-bottom: 1px solid var(--orange-color);
  }
}

  /* Footer  */
  .footer__container {
    display: none;
  }

  @media screen and (min-width: 768px){
    .footer__container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4%;
      padding: 0;
      height: 14vh;
    }
    
    .footer__paragraph {
      font-size: 0.9rem;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: -0.01em;
    }

    .footer__logo {
      width: 13%;
      height: 95%;
    }
  }
